extends ../layout
block content
	.main.container-fluid
		h1.text-center.blue President Card Game Player Statistics

		.pad-space
		.col-lg-offset-1.col-md-offset-1.col-sm-offset-1.col-ms-offset-1.col-xs-offset-1.align-items-center
			table.table-striped.col-lg-10.col-md-10.col-sm-10.col-ms-10.col-xs-10
				thead
					tr
						th.text-center User Name
						th.text-center Games
						th.text-center Wins
						th.text-center Losses
				tbody
					if(allUsersStatistics == null || allUsersStatistics.length == 0)
						tr
							td.text-center(colspan='4') No player data found.
					else
						each userStatistics in allUsersStatistics
							tr
								td.text-center
									a(href=`/statistics/${userStatistics.id}`) #{userStatistics.displayname}
								td.text-center #{userStatistics.games}
								td.text-center #{userStatistics.wins}
								td.text-center #{userStatistics.losses}