extends ../layout
block content
	include ../../partials/navbar.pug
	.main.container-fluid
		h1.text-center.blue President Card Game Statistics
			if(userStatistics != null)
				span #{' For '}
				span.red #{userStatistics.displayName}

		.pad-space
		.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-ms-offset-1.col-ms-10.col-xs-offset-1.col-xs-10
			if(userStatistics == null)
				h3.text-center This user does not exist.
			else
				table.table-striped.full-width(style={'table-layout': 'fixed'})
					thead
						tr
							th.text-center Games
							th.text-center Wins
							th.text-center Losses
					tbody
							tr
								td.text-center #{userStatistics.games}
								td.text-center #{userStatistics.wins}
								td.text-center #{userStatistics.losses}

		if(userStatistics != null)
			.col-lg-12.col-md-12.col-sm-12.col-ms-12.col-xs-12
				.pad-space
				h2.text-center.small-caps.bold Completed Games
				.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-ms-offset-1.col-ms-10.col-xs-12
					if(gameHistory == null || gameHistory.length == 0)
						h3.text-center No completed games found.
					else
						table.table-striped.same-sized-columns.full-width
							thead
								tr
									th.text-center Game ID
									th.text-center Winner
									th.text-center Loser
							tbody
								each game in gameHistory
									tr
										td.text-center
											a(href=`/games/${game.gameId}`) #{game.gameId}
										td.text-center #{game.winner}
										td.text-center #{game.loser}